# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../../:\Users\walter\OneDrive\学习\笔记\Mechine Learning\Machine Learning Andrew Ng\implement with python\logistric regression\Logistic-Regression\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
